.change-password {
  width: 421px;
  padding: 44px 48px 50px;

  &__title {
    font-size: 1.625rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__form {
    margin-top: 49px;
    width: 100%;
  }

  &__form-item {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__submit {
    font-size: 1rem;
    font-weight: 700;
    padding-right: 52px;
    padding-left: 30px;
    margin-top: 33px;
    width: 100%;
  }
}