.page-error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  &__container {
    display: flex;
  }

  &__icon {
    width: 363px;
    height: 363px;
    flex-shrink: 0;
    background: #fff url(./page-error.png) center no-repeat;
    border-radius: 50%;
    box-shadow: 0 27px 65px rgba(26, 22, 75, 0.09);
    margin-right: 3.5vw;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__code {
    font-size: 11.25rem;
  }

  &__text {
    margin: 30px 0;
    color: #585762;
    max-width: 447px;
  }


}