.paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto 0;

  &__arrow {
    border: none;
    outline: none;
    background: url(./paginator-arrow.png);
    width: 36px;
    height: 19px;
    cursor: pointer;

    &_disabled {
      opacity: .28;
    }

    &_left {
      transform: rotate(180deg);
    }
  }

  &__list {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__item {
    width: 15px;
    height: 15px;
    background-image: linear-gradient(to top, #1aeebb 0%, #1fb4f3 100%);
    border-radius: 50%;
    border: none;
    outline: none;
    margin-right: 25px;
    opacity: 0.17;
    cursor: pointer;

    &_active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}