.search {
  position: relative;

  &__input {
    width: 100%;
    padding: 1.6vh 1.6vw 1.7vh;
    background-color: #f0ebfc;
    border-radius: 25px;
    border: none;
    font: inherit;
    outline: none;

    &::placeholder {
      font: inherit;
      color: rgba(58, 58, 58, .7);
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(./search.png);
    right: 25px;
    top: 1.6vh;
  }
}