.write-message {
  display: flex;
  flex-wrap: wrap;

  &__text {
    width: 100%;
  }

  &__theme {
    width: 294px;
    margin-right: auto;
    margin-top: 20px;
  }

  &__btn {
    margin-right: 20px;
    margin-top: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}