.content {
  padding: 4.1vh 1.4vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;

  &__title {
    font-size: 1.88rem;
    text-transform: uppercase;
    margin-top: 4vh;
    width: 100%;
  }

  &__block {
    margin-top: 3vh;
    border-radius: 20px;
    background-color: #ffffff;
    width: 100%;

    &_type_table {
      padding-top: 3.8vh;
      padding-bottom: 3.8vh;
    }

    &_2 {
      margin-right: 20px;
      width: auto;
      flex-grow: 1;
      height: 515px;
    }
  }

  &__notifications {
    position: absolute;
    right: 22px;
    bottom: 30px;
  }

  &__notification {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__support {
    align-items: stretch;
  }
}