.message {
  display: flex;
  color: #555555;

  &__avatar {
    margin-right: 18px;
    flex-shrink: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  &__content {
    padding-top: 8px;
    display: flex;
    flex-wrap: wrap;
  }

  &__sender {
    font-size: 1.125rem;
    font-weight: 400;
    width: 100%;
    color: #585762;
  }

  &__theme {
    opacity: 0.37;
    margin-top: 6px;
    font-weight: 400;
    width: 90%;
    flex-grow: 1;
  }

  &__time {
    opacity: 0.5;
    margin-top: 6px;
  }

  &__text {
    margin-top: 6px;
    width: 50%;
    padding: 20px 44px 18px 12px;
    line-height: 1.0625;
    background-color: #f1f5f8;
    border-radius: 15px;
  }

  &_outgoing {
    flex-direction: row-reverse;

    .message__avatar {
      margin-right: 0;
      margin-left: 18px;
    }

    .message__content {
      flex-direction: row-reverse;
    }

    .message__sender {
      text-align: right;
    }

    .message__theme {
      text-align: right;
    }
  }
}