.link-arrow {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #585762;

  &:after {
    content: '';
    width: 36px;
    height: 19px;
    margin-left: 13px;
    background: url(./arrow-link.png);
  }

  &__text {
    padding-bottom: 1px;
    border-bottom: 1px dotted #1bdace;
  }
}