.jq-selectbox {
  position: relative;
  display: flex;
  line-height: normal;
  height: 50px;

  &__select {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__select-text {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    &::after {
      content: '';
      width: 17px;
      height: 9px;
      background: url(./arrow-select.png) no-repeat;
      background-size: cover;
    }

    &_active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__dropdown {
    position: absolute;
    background: #fff;
    width: 100% !important;
    padding: 20px 10px 20px 25px;
    border: 1px solid #ebebeb;
    border-radius: 25px;
    top: calc(100% + 10px);

    ul {
      max-height: none !important;
      height: 120px !important;
      overflow: hidden;
    }

    li {
      text-align: left;
    }
  }
}