.nav-top {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -7px 33px 2px #eceef1;
  padding: 2.8vh 2.5vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &__search {
    width: 23.3vw;
    min-width: 200px;
    margin-right: auto;
  }

  &__lan {
    letter-spacing: 0.4px;
    padding: 1.8vh 1.2vw 1.9vh;
    background-color: #f0f4f7;
    border-radius: 25px;
    color: #585762;
    display: flex;
    align-items: center;
    margin-right: 1.6vw;
  }

  &__support {
    margin-right: 2.5vw;
  }

  &__lan-name {
  }

  &__arrow-icon {
    overflow: hidden;
    width: 11px;
    height: 6px;
    stroke: #585762;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px;
    margin-left: 1vw;
  }

  &__alerts {
    display: flex;
    align-items: center;
    margin-right: 2vw;
  }

  &__alert {
    margin-right: 1vw;

    &_type_support {
      width: 40px;
      height: 30px;
      background: url(./mail.png);
    }

    &_type_alarm {
      width: 36px;
      height: 34px;
      background: url(./warning.png);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__greeting {
    line-height: 19.18px;
    color: #3a3a3a;
    margin-left: 1vw;
  }
}