.menu-main {
  font-size: 16px;

  &__link {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, .6);
    text-decoration: none;
    padding: 1vh 1vw;
    width: 100%;
    border-right: 4px solid transparent;

    &_active {
      box-shadow: 0 6px 10px rgba(36, 37, 66, 0.15);
      border-right: 4px solid #1aedbd;
      color: #fff;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      margin-right: 2vw;
      width: 23px;
      height: 23px;
      background: center no-repeat;
    }

    &_type_dashboard {
      &:before {
        background-image: url(./dashboard.png);
      }
    }

    &_type_source-list:before {
      background-image: url(./source-list.png);
    }

    &_type_source-test:before {
      background-image: url(./source-test.png);
    }

    &_type_tariff-plan:before {
      background-image: url(./tariff-plan.png);
    }

    &_type_users:before {
      background-image: url(./users.png);
    }

    &_type_refferal:before {
      background-image: url(./refferal.png);
    }

    &_type_support:before {
      background-image: url(./support.png);
    }

    &_type_partners:before {
      background-image: url(./partners.png);
    }

    &_type_alarms:before {
      background-image: url(./alarms.png);
    }

    &_type_exit:before {
      background-image: url(./exit.png);
    }

    &_type_refferal:before {
      background-image: url(./refferal.png);
    }

    &_type_support:before {
      background-image: url(./support.png);
    }

    &_type_partners:before {
      background-image: url(./partners.png);
    }

    &_type_alarms:before {
      background-image: url(./alarms.png);
    }

    &_type_exit:before {
      background-image: url(./exit.png);
    }

    &_type_personal-area:before {
      background-image: url(./personal_area.png);
    }

    &_type_history:before {
      background-image: url(./history.png);
    }

    &_type_catalog:before {
      background-image: url(./catalog.png);
    }

    &_type_favorites:before {
      background-image: url(./favorites.png);
    }

    &_type_tariff-payment:before {
      background-image: url(./tariff.png);
    }

    &_type_bonuses:before {
      background-image: url(./bonuses.png);
    }

    &_hidden {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      &:before {
        margin-right: 0 !important;
      }
    }
  }
}