.thumb {
  width: 115px;
  height: 115px;
  border-radius: 50%;

  &_size_small {
    width: 52px;
    height: 52px;
  }

  &_accent {
    width: 119px;
    height: 119px;
    border: 4px solid #1fb4f3;
  }
}