.nav-support {
  width: 30%;
  padding: 3.2vh 1.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2vh;
    width: 100%;

    &.tabs-toggles__item_active {
      .nav-support__item-name {
        color: #3e278f;
        font-weight: 700;
      }
    }
  }

  &__item-name {
    color: #444444;
  }

  &__item-value {
    font-size: 0.875rem;
    color: #a3a3a3;
  }

  &__btn-write {
    margin-top: 4.6vh;
  }
}