.add-tariff {
  width: 623px;
  padding: 44px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #585762;
  margin-right: 20px;

  &__title {
    width: 100%;
    font-size: 1.625rem;
    text-transform: uppercase;
    text-align: center;
    color: #585762;
  }

  &__form {
    margin-top: 4vh;
    width: 100%;
  }

  &__input {
    width: 100%;
  }

  &__input-half {
    width: calc(50% - 10px);

    &:first-child {
      margin-right: 5px;
    }
  }

  &__select {
    width: 100%;
  }

  &__form-row {
    width: 100%;
    margin-bottom: 1.8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__form-title {
    width: 100%;
    margin-bottom: 1vw;
  }

  &__date {
    width: 160px;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__textarea {
    width: 100%;
    height: 15vh;
  }

  &__submit {
    margin: 4.2vh auto 0;
  }

  @media (max-width: 1500px) {
    margin-right: 0;
  }
}