.personal-data {
  width: auto;
  flex-grow: 1;
  padding: 44px 101px 50px;
  color: #585762;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  &__title {
    font-size: 1.625rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__form {
    margin-top: 49px;
    width: 100%;
  }

  &__form-item {
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form-row {
    display: flex;
    align-items: center;
  }

  &__form-inline-item {
    margin-right: 30px;
  }

  &__date {
    flex-grow: 1;
  }

  &__submit {
    font-size: 1rem;
    font-weight: 700;
    padding-right: 52px;
    padding-left: 30px;
    margin-top: 33px;
  }
}