.textarea {
  padding: 1.6vh 1.7vw;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  resize: none;
  outline: none;
  font: inherit;
  color: #585762;

  &:focus {
    border: 2px solid rgba(0, 255, 202, 0.7);
  }

  &::placeholder {
    color: rgba(88, 87, 98, .5);
  }
}