.breadcrumbs {
  font-size: 0.69rem;
  display: flex;

  &__link {
    color: rgba(58, 58, 58, .7);
    text-decoration: none;

    &:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 7px;
      opacity: 0.7;
      background: url(./breadcrumb-arrow.png);
      margin: 0 8px;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}