.cabinet-avatar-block {
  width: 355px;
  padding: 44px 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #585762;
  margin-right: 20px;

  &__title {
    font-size: 1.625rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__img {
    width: 194px;
    height: 194px;
    margin-top: 49px;
    border-width: 7px;
  }

  &__nickname {
    margin-top: 29px;
    font-size: 1.75rem;
  }

  &__file {
    height: 251px;
    margin-top: 43px;
    margin-bottom: 52px;
    width: 100%;
  }

  &__submit {
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    padding-right: 52px;
    padding-left: 30px;
  }
}