.table {
  max-width: 100%;
  width: calc(100% - 5.2vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.625rem;
    margin-top: 46px;
    margin-left: 44px;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    &_border_twice {
      border-bottom: 1px solid #f3f3f3;
      border-top: 1px solid #f3f3f3;
    }
  }

  &__article-img {
    margin-right: 11px;
  }

  &__article-text {
    line-height: 17px;
  }

  &__item {
    padding: 2.4vh 0.5vw;
    text-align: left;
    color: #a3a3a3;
    font-size: .875rem;
    position: relative;
    vertical-align: middle;
    flex-shrink: 0;

    &_article {
      display: flex;
      align-items: center;
    }

    &_layout_num {
      width: 50px;
    }

    &_layout_text {
      flex-shrink: 1;
      width: 0;
      flex-grow: 1;
    }

    &_layout_control {
      width: 26.8%;
      min-width: 280px;
    }

    &_layout_mini-control {
      min-width: 355px;
    }

    &_layout_status {
      width: 20.5%;
      min-width: 80px;
    }

    &_layout_tariff {
      width: 14.8%;
      min-width: 150px;
    }

    &_layout_date {
      width: 15.1%;
      min-width: 105px;
    }

    &_layout_registration-date {
      width: 14.8%;
      min-width: 150px;
    }

    &_layout_last-login-date {
      width: 16.8%;
      min-width: 180px;
    }

    &_layout_referrals {
      width: 14.1%;
      min-width: 100px;
    }

    &_layout_datetime {
      width: 14.1%;
      min-width: 120px;
    }

    &_layout_alarm-description {
      width: 0;
      flex-grow: 2;
    }

    &_layout_alarm-category {
      width: 15.1%;
      min-width: 155px;
    }

    &_layout_stat {
      width: 13%;
      min-width: 90px;
    }

    &_layout_control-button {
      min-width: 180px;
    }

    &_align_center {
      text-align: center;
    }

    &_align_right {
      text-align: right;
    }

    &_type_code {
      word-break: break-word;
    }

    &_content {
      color: #555555;
      font-size: .81rem;
    }

    &_mail {
      display: flex;
      align-items: center;
    }

    &_in-popup {
      font-size: 0.8125rem;
      color: #555555;
    }
  }

  &__mail-avatar {
    border-radius: 50%;
    width: 47px;
    height: 47px;
    margin-right: 10px;
  }

  &__mail-nickname {
    font-size: 0.9375rem;
  }

  &__mail-title {
    font-size: 0.8125rem;
    margin-top: 5px;
  }

  &__header-item {
    font-size: .81rem;
    color: #444444;

    &_filter {
      &:before {
        display: inline-block;
        content: '';
        width: 9px;
        height: 6px;
        margin-right: 6px;
        background: url(./filter-arrow.png);
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f3f3f3;
    position: relative;

    &_hoverable {
      &:hover {
        background: #fff;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 2px;
        box-shadow: 0 6px 10px rgba(6, 28, 97, 0.05);
        margin: 0 -2.8vw;
        padding-left: 2.8vw;
        padding-right: 2.8vw;

        & .table__control-btn {
          transition: opacity 0.35s;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &_popup-header {
      background-color: #f0f4f7;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &_focused {
      background: #fff;
      border-color: rgba(0, 0, 0, 0);
      border-radius: 2px;
      box-shadow: 0 6px 10px rgba(6, 28, 97, 0.05);
      margin: 0 -2.8vw;
      padding-left: 2.8vw;
      padding-right: 2.8vw;

      & .table__control-btn {
        transition: opacity 0.35s;
        opacity: 1;
        visibility: visible;
      }
    }

    &_type_header {
      border-bottom: none;
    }

    &_border_twice {
      border-top: 1px solid #f3f3f3;
    }
  }

  &__num {
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(36, 37, 66, 0.19);
    background-image: linear-gradient(-131deg, #1aeebb 0%, #1fb4f3 100%);
    color: #fff;
    font-size: .75rem;
    border-radius: 50%;
  }

  &__control-item {
    text-align: center;
    min-width: 278px;
  }

  &__content-parameters {
    font-size: .75rem;
    width: 65px;
    margin-top: 10px;
    display: block;
    color: #7a83a3;
    text-decoration: none;
  }

  &__control-btn {
    visibility: hidden;
    opacity: 0;
  }

  &__date {
    display: block;
    margin-bottom: 3px;
  }

  &__popup {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    display: none;
    width: 100%;
    background: #fff;
    z-index: 1000;

    &_active {
      display: block;
    }
  }
}