.chat {
  flex-grow: 1;
  margin-right: 20px;
  width: 50%;
  padding: 25px 20px 60px;
  color: #555555;

  &__title {
    text-align: center;
    font-size: 1.625rem;
    margin-bottom: 23px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__messages {
    height: 451px;
    box-shadow: inset 0 0 18px rgba(47, 34, 106, 0.15);
    display: flex;
    flex-direction: column;
  }

  &__scrollable {
    flex-grow: 1;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;

    .mCSB_1_scrollbar {
      margin-right: -2px;
    }
  }

  &__message {
    margin-top: 27px;
    margin-left: 40px;
    margin-right: 40px;


    &:first-child {
      margin-top: 83px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__form {
    margin-top: 30px;
  }

  @media (max-width: 1700px) {
    width: 100%;
  }
}