.profile-history {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__title {
    font-size: 1.175rem;
    text-transform: uppercase;
    color: #585762;
    flex-grow: 1;
    margin-left: 2.6vw;
  }

  &__link {
    margin-right: 2.6vw;
  }

  &__table {
    margin-top: 3.7vh;
  }
}