.notification {
  padding: 40px 75px 30px 25px;
  background: #fff;
  width: 333px;
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: all .35s;

  &__btn-close {
    width: 10px;
    height: 10px;
    background: url(./notification-close.png) no-repeat center;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 20px;
  }

  &__title {
    margin-bottom: 7px;
    color: #585762;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 13px;
    color: #b2b2b5;
    line-height: 17px;
  }

  &_was-close {
    opacity: 0;
    visibility: hidden;
  }
}