.dropdown {
  position: relative;

  &:hover {
    .dropdown__menu {
      display: flex;

    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -5px;
    flex-direction: column;
    width: 100%;
    letter-spacing: 0.4px;
    padding: 1.8vh 1.2vw 1.9vh;
    background-color: #f0f4f7;
    border-radius: 25px;
    color: #585762;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}