.radio-group {

  &__input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    &:checked + .radio-group__label:before {
      background: #365899 url(./checked-radio.png) center center no-repeat;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__label:before {
    content: '';
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background: rgba(54, 88, 153, .2);
    border-radius: 50%;
    margin-right: 10px;
  }
}