.add-source-form {
  padding: 2.8vh 1.3vw;

  &__title {
    color: #585762;
    font-size: 1.44rem;
    text-transform: uppercase;
  }

  &__form {
    display: flex;
    margin-top: 1.9vh;
  }

  &__item {
    margin-right: .6vw;
  }

  &__input {
    width: 17.6vw;
  }

  &__select {
    width: 18.7vw;
    min-width: 180px;
  }

  &__btn {
    margin-left: auto;
  }

  &__period {
    width: 10%;
    min-width: 130px;
  }

  &__date {
    width: 15%;
    min-width: 150px;
    background-position: 1.7vw center !important;
  }
}