.date-input {
  border: 1px solid #ebebeb;
  border-radius: 25px;
  font: inherit;
  font-size: 13px;
  color: #585762;
  padding: 1.6vh 1.7vw 1.6vh calc(2.2vw + 23px);
  background: url(./calendar.png) no-repeat 1.7vw 1.5vh;
  outline: none;

  &::placeholder {
    color: rgba(88, 87, 98, .5);
  }
}